# Get data from data warehouse

In [1]:
#I use librart sparklyr to connect and get data from Hadoop
library(sparklyr)

Attaching package: 'sparklyr'


The following object is masked from 'package:stats':

    filter

In [2]:
spark <- spark_connect(master='local')

In this code I allow the user to get a sample of data by month.
  + Month starts
  + Month ends
  
Depending on the date you crawl data in part1 how much data you will be able to get from datalake

In [3]:
month_start=as.integer(readline('Enter month start:'))
month_end=as.integer(readline('Enter month end:'))
df <- data.frame()
for (month in (month_start:month_end)){
    month<-sprintf("%02d", month)
    path=paste0("hdfs://localhost:9000/datalake/2023/",month,"/output_weather_in_*")
    print(path)
    if (month==sprintf("%02d",month_start)){
        df <- spark_read_parquet(spark,path=path)
        df <-df %>% mutate(Date=as.POSIXct(Date))
        df <- df %>% collect()
    }
    else{
        read <- spark_read_parquet(spark,path=path)
        read <-read %>% mutate(Date=as.POSIXct(Date))
        read <- read %>% collect()
        df <- rbind(df,read)
    }
    print(month)
}

Enter month start:6
Enter month end:7
[1] "hdfs://localhost:9000/datalake/2023/06/output_weather_in_*"
[1] "06"
[1] "hdfs://localhost:9000/datalake/2023/07/output_weather_in_*"
[1] "07"

I will try 2 months demo is 6 and 7

The default year here is 2023, I can completely tweak the date, but since this project is done in 2023 I will default it like that
- Path: "hdfs://localhost:9000/datalake/2023/",month,"/output_weather_in_*"

In [4]:
# I will rearrange by month to facilitate analysis and processing time seriese

In [5]:
df <- arrange(df, Date)

ERROR: Error in arrange(df, Date): could not find function "arrange"

In [ ]:
dim(df)

In [ ]:
head(df)

In [ ]:
tail(df)

In [ ]:
write.csv(df,'ouput_process.csv', row.names=FALSE)